/*
	css page for restaurant web page
*/
.header {
	font-family:Cursive, Cheltenham, Savoy, Serif;
	font-style: bold;
	font-size: large;
}

.header h1 {
	text-align:center;
}

.footer {
	font-family:Arial, Verdana, sans-serif;
	font-style: normal;
	font-size: medium;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: hotpink;
}

a:active {
	color: red;
}
a:link {
	color: blue;
}
