/*
	css page for albumPage
*/

/* import section */
@import url("https://fonts.googleapis.com/css?family=Denk+One");

/* standard html tag styles */
table, th, td {
	font-family : "Arial", sans-serif;
}

th, td {
	text-align : center;
}

/* class specific formatting */
.denkCtr {
	font-family : "Denk One", sans-serif;
	font-size : large;
	text-align : center;
	margin-left : auto;
	margin-right : auto;
}

/* formatting for the list of band members and producers */
.members {
	width : 80%;
	margin-left : auto;
	margin-right : auto;
	font-family : Cursive, Arial, sans-serif;
	text-align : left;
}

/* formatting for the table containing the track list */
.tracks {
	width : 80%;
	margin-left : auto;
	margin-right : auto;
	border : 1px solid black;
	border-collapse : collapse;
	font-family : Arial, Gadget, sans-serif;
}

.tracks th, .tracks td {
	border : 1px solid black;
	font-family : Arial, Gadget, sans-serif;
}

.tracks th {
	background-color : DarkBlue;
	color : white;
}

.tracks td {
	font-style : italic;
}

.tracks tr {
	background-color : lightBlue;
}

.tracks tr:nth-child(3n + 1) {
	background-color : Blue;
}

a {
	text-decoration : none;
}

a:visited {
	color : green;
}

a:hover {
	color : black;
	background-color : hotpink;
	text-decoration : underline;
}

a:active {
	color : red;
}
a:link {
	color : blue;
}
