/*
	css page for restaurant web page
*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

.header {
	font-family:"Dancing Script", Cursive, Cheltenham, Savoy, Serif;
	text-align:center;
}

.footer {
	font-family:Arial, Verdana, sans-serif;
	font-style: normal;
	font-size: medium;
}

body {
	font-family: Cursive, Cheltenham, Savoy, Serif;
}
a:link {
	color: blue;
}

a:visited {
	color: hotPink;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}
