/*
	css page for restaurant web page
*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

.header {
	font-family: Cursive, Cheltenham, Savoy, Serif;
	font-size: large;
}

.header h1 {
	font-family:"Dancing Script", Cursive, Cheltenham, Savoy, Serif;
	font-size: xx-large;
	text-align:center;
}

.footer {
	font-family:Arial, Verdana, sans-serif;
	font-style: normal;
	font-size: medium;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: hotpink;
}

a:active {
	color: red;
}
a:link {
	color: blue;
}
